---
import BaseLayout from "../layouts/BaseLayout.astro";
import IntroductionSection from "../components/IntroductionSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import ContactSection from "../components/ContactSection.astro";
---

<BaseLayout>
  <main>
    <IntroductionSection pageTitle="Nestor" customText="Hello, I'm" />
    <AboutSection pageTitle="About Me" customText="Get To Know More" />
    <ExperienceSection pageTitle="Experience" customText="Explore My" />
    <ProjectsSection pageTitle="Projects" customText="Browse My Recent" />
    <ContactSection pageTitle="Contact Me" customText="Get in Touch" />
  </main>
</BaseLayout>
