---
import SectionLayout from "../layouts/SectionLayout.astro";
import AboutCommonContainer from "./AboutCommonContainer.astro";
const { pageTitle, customText } = Astro.props;
---

<SectionLayout sectionText="about-section">
  <div>
    <p>{customText}</p>
    <h2>{pageTitle}</h2>
  </div>
  <div class="experience-education">
    <AboutCommonContainer
      classText="experience-container"
      title="Experience"
      paragraph="2+ years fronted development"
    />
    <AboutCommonContainer
      classText="education-container"
      title="Education"
      paragraph="2+ years fronted development"
    />
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
    voluptatibus quia necessitatibus, dolore quas nisi, alias
  </p>
</SectionLayout>
