---
import SectionLayout from "../layouts/SectionLayout.astro";
import AboutCommonContainer from "./AboutCommonContainer.astro";
const { pageTitle, customText } = Astro.props;
---

<SectionLayout sectionText="about-section">
  <div>
    <p>{customText}</p>
    <h1>{pageTitle}</h1>
  </div>
  <AboutCommonContainer
    classText="experience-container"
    title="Experience"
    paragraph="2+ years fronted development"
  />
  <AboutCommonContainer
    classText="education-container"
    title="Education"
    paragraph="2+ years fronted development"
  />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
    voluptatibus quia necessitatibus, dolore quas nisi, alias
  </p>
</SectionLayout>
