<span class="badge">Available for hire</span>

<style>
    .badge {
        margin-left: .5em;
        background-color: #bbdefb;
        color: #1565c0;
        text-transform: uppercase;
        font-size: small;
        font-weight: 500;
        border: 1px solid #1565c0;;
        border-radius: 10px;
        padding: .5em 1em;
    }
</style>