---
import SectionLayout from "../layouts/SectionLayout.astro";
import Linkedin from "../icons/Linkedin.astro";
const { pageTitle, customText } = Astro.props;
---

<SectionLayout sectionText="contact-section">
  <div>
    <p>{customText}</p>
    <h2>{pageTitle}</h2>
  </div>
  <div class="gmail-linkedin-container">
    <span><Linkedin /><a href="#">salzarnestor@gmail.com</a></span>
    <span><Linkedin /><a href="#">LinkedIn</a></span>
  </div>
</SectionLayout>
