---
const { title, topics } = Astro.props;
import Github from "../icons/Github.astro";
---

<div class="experience-common-container">
  <h2>{title}</h2>
  <ul>
    {
      topics.map((topic) => (
        <li>
          <Github />
          <div>
            <h3>{topic.name}</h3>
            <p>{topic.level}</p>
          </div>
        </li>
      ))
    }
  </ul>
</div>
