---
const { title, topics } = Astro.props;
import Github from "../icons/Github.astro";
---

<div class="experience-common-container">
  <h3>{title}</h3>
  <ul>
    {
      topics.map((topic) => (
        <li>
          <Github />
          <div>
            <span class="experience-topic-name">{topic.name}</span>
            <span>{topic.level}</span>
          </div>
        </li>
      ))
    }
  </ul>
</div>
