---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <div class="wrapper">
    <div class="layout-flex-header">
      <a href="/">Nestor</a>
      <nav>
        <Hamburger />
        <Navigation device="mobile" />
      </nav>
    </div>
  </div>
</header>
