---
const { device } = Astro.props;
---

<div class="nav-links">
  <a href="#about-section">About</a>
  <a href="#experience-section">Experience</a>
  <a href="#projects-section">Projects</a>
  <a href="#contact-section">Contact</a>
</div>
